body * {
    font-family: 'Roboto', sans-serif;
}

header * {
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    padding-left: 10px;
    color: white;
}

header {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0px 0px 15px 15px;
    background-color: rgba(0, 0, 0);
}

header img {
    width: 35px;
    height: 35px;
}

main {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}

form {
    padding: 10px;
}

main img {
    height: 300px;
}

main p {
    padding: 10px 0px;
}


#root {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.meow {
    color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px;
    border-radius: 15px;
    background: rgb(104, 104, 104);
    margin-top: 10px;
}

.meow img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

footer * {
    text-decoration: none;
}

/* footer mechanic */
footer {
    position: fixed;
    bottom: 0;
    width: 50%;
    display:flex;
    justify-content:space-around;
    height:60px;
    align-items: center;
}

/* footer shape  */
footer {   
    height: 60px;
    background: black;
    color: white;
    border-radius: 0px 15px 0px 0px;
}

footer ul{
    display: flex;
}

footer ul li{
    padding: 10px 10px;   
}

footer img {
    width: 35px;
    height: 35px;
}

footer img:hover {
    background: rgb(128, 128, 128);
    border-radius: 3px;
}