body * {
    font-family: 'Roboto', sans-serif;
}

header * {
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    padding-left: 10px;
    color: white;
}

header {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0px 0px 15px 15px;
    background-color: rgba(0, 0, 0);
}

header img {
    width: 35px;
    height: 35px;
}

main {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}

main p {
    padding: 10px 0px;
}

#root {
    display: inline-flex;
}

footer * {
    text-decoration: none;
}

/* footer mechanic */
footer {
    position: fixed;
    bottom: 0;
    width: 50%;
    display:flex;
    justify-content:space-around;
    height:60px;
    align-items: center;
}

/* footer shape  */
footer {   
    height: 60px;
    background: black;
    color: white;
    border-radius: 0px 15px 0px 0px;
}

footer ul{
    display: flex;
}

footer ul li{
    padding: 10px 10px;   
}

footer img {
    width: 35px;
    height: 35px;
}

footer img:hover {
    background: rgb(255, 255, 255);
    border-radius: 3px;
}